<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{layout/basic :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <div style="width:50%;margin:auto;margin-top:50px;">
            <form class="form-signin" th:action="@{/login}" th:method="post">
                <h2 class="form-signin-heading">로그인</h2>
                <p>
                    <label for="username" class="sr-only">E-mail</label>
                    <input type="text" id="username" name="username" class="form-control" placeholder="E-mail" required autofocus>
                </p>
                <p>
                    <label for="password" class="sr-only">Password</label>
                    <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
                </p>
                <p><input type='checkbox' name='remember-me'/>자동로그인</p>
                <button class="btn btn-lg btn-primary btn-block" type="submit">로그인</button>
            </form>

            <h2 class="form-signin-heading" style="margin-top:50px;">소셜로그인</h2>
            <a href="/oauth2/authorization/google">Google</a>

    </th:block>
</th:block>